# Node modules
client/node_modules
server/node_modules

# Build output
client/dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
client/.env
server/config.env